.about {
    height: 100vh;
    position: relative;
    //min-width: 80rem;

    &__layer {
        grid-row: 2 / 3;
        grid-column: full-start / full-end;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
       // background: blueviolet;
    }

    &__text {
        width: 15rem;
        height: 15rem;
        background: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10rem;
        margin: auto;
        border-radius: 50%;

    }
}